<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    

<body>
  <div class="grid-container">
    <header class=header>
      <div class="mobile-menu"> </div>
      <div class="header-wrapper">
        <h1>Travel Journal </h1>
  
        <div class="Navbar">
          <div id="nav-list">
          </div>
         
        </div>
        <div class="social">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </header>
    <main class="main">
      
      <div class="image holder">
        <img  id ="blob" src="">
      </div>
      <section class="city-wrapper">
        <div class="city holder">
          <form id = "form" name = "myForm" class="form" >
          <input id="city" type="text"placeholder="Enter City here">        
          <input type="date" id="picker" > 
         <input id ="generate" type="submit" name="" value="submit" >
         
        
        </form>
      </div>
      </section>
        <section class="entry holder">
          <div class =" title">  

          <div id="show"></div>
         <div id= "travelLocation"></div>
        <div id = "lat"></div>
        <div id ="long"></div>
        <div id = "country"></div>
        <div id = "hightemp"></div>
        <div id = "lowtemp"></div>
        <div id = "currentTemp"></div>
          </div>
          </section>
          <section class="todoList">
            <header>
              <h2>Your Packing list</h2>
             
            </header>
            <div class="form">
              <form >
                <input value="" id='packing' type='text' placeholder="enter your item here">
                <button id="click"><i class="fas fa-plus"></i></button>
                </form>
              <div class="lists" >
               <ul id="toDoList" >
                </ul>
                <button class="clear" id="clear"> clear all</button>
                
                </div>
            </div>
          </section>
</main>
</div>
<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  }
  </script>
</body>
</html>