$font-size: 20px;
$input: #008000;
$border: #ddd;
$button: #0000ff;
$white-background: #ffffff;
$insta-color1: rgba(138, 58, 185, 1);
$insta-color2: rgba(233, 89, 80, 1);
$insta-color3: rgba(252, 204, 99, 1);
$insta-color4: rgba(205, 72, 107, 1);
$insta-color5: rgba(76, 104, 215, 1);
$facebook: #3b5998;
$twitter: #1da1f2;

.grid-container {
  text-align: center;
  font-size: $font-size;
}
header {
  height: 9vh;
  .social {
    margin: 8px;
  }
  .fab {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 45px;
  }
  .fa-instagram:hover {
    color: $white-background;
    background: linear-gradient(
      45deg,
      $insta-color1 20%,
      $insta-color2 40%,
      $insta-color3 60%,
      $insta-color4 80%,
      $insta-color5 100%
    );
  }
  .fa-facebook:hover {
    background: $facebook;
    color: $white-background;
  }
  .fa-twitter:hover {
    background: $twitter;
    color: $white-background;
  }
}

main {
  width: 75%;
  padding: 115px;
  margin: auto;
}

.main {
  .todoList {
    height: 30vh;
  }

  #blob {
    border: 1px solid $border;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    box-shadow: 2px 2px 7px 1px $border;
  }
  #form {
    width: 50%;
    margin: auto;
    height: 20vh;
    padding-top: 20px;
  }
  #city {
    margin: 5px;
  }
  input:hover {
    border: 1px solid $input;
  }
  button:hover {
    border: 1px solid $button;
  }
}